body{
    background-color: #BEDAFA;
}

.frame{
    margin: 30px 150px;
    display: flex;
    flex-direction: column;
}

.site-name{
   margin: 0;
   font-family: 'Noto Sans KR', sans-serif;
   font-size: 24px;
   color: #5E92C4;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    font-weight: 300;
    margin-top: 100px;
    margin-bottom: 100px;
}


/*profile-section*/

.profile-section{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-start;

    margin: 100px 100px;
}

.profile-section>h1{
    margin: 0px;
    margin-top: 100px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 35px;
}

#profile-picture{
    width: 400px;
    margin-right: 200px;
}


/*value section*/

.value-section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    margin: 100px 150px;
    margin-top: 20px;
}

.value{
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
    align-items: center;
}

.value-image{
    width: 200px;
    height: 200px;

    border: 2px solid #384B60;
    border-radius: 100px;
    padding: 5px;
    margin-left: 70px;
}

.value-video{
    width: 500px;
    height: 400px;

    margin-left: 30px;
    margin-bottom: 70px;
}

.value-intro{
    margin-left: 30px;
}

.value-name{
    font-family: 'Noto Sans KR', sans-serif;
    color: #384B60;
    font-weight: 1300px;
    margin-top: 0px;
    margin-bottom: 5px;
}

.value-exp{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300px;
    font-size: 20px;
    margin: 0px;
}